kservices:
  postgres:
    image: postgres:18
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: sunhoh
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: supermung
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
    external: true